
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IWA Demo App</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/pizzaShop.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/customerCode.js"></script>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to Carlos Pizza Shop</h1>
        <p class="lead">Order a pizza</p>
      </div>
        <div class="col-lg-6 text-center center-page">
            <form id='myForm' enctype="application/json" action="/orders" method="post">
                <div class="form-group">
                    <h3>Size</h3>
                    <div id="size" class="checkbox-group required" type="select" multiple=false>
                    </div>
                </div>
                <div class="form-group">
                    <h3>Base</h3>
                    <div id="base" class="checkbox-group required"></div>
                </div>
                <div class="form-group">
                    <h3>Toppings</h3>
                    <div id="topping" class="checkbox-group required"></div>
                </div>
                
                <div class="form-group">
                    <h3>Address</h3>
                    <input id="address" class="form-control" type="text" name="address" placeholder="Address">
                </div>

                <div class="form-group">
                    <h3>Price €</h3>
                    <input id="price" class="form-control" type="text" name="price" placeholder="Price" readonly>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Order</button>
            </form>
            <button id="restart" class="btn btn-block btn-danger" onclick="clearFields()">Restart</button>
            <a class="btn btn-info next-btn" href="admin-page.html">ADMIN PAGE</a>  
            
        </div>
    </div>
  </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2020</span>
      </div>
    </footer>

  <!-- Bootstrap core JavaScript -->
</body>

</html>
