<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pizza Shop</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/pizzaShop.css" rel="stylesheet">
</head>

<body>
    <div>
        <h1>Welcome to Carlo's pizza shop!!</h1>
        <h3>Please select what type of user you are</h3>
        <div>
            <a class="btn btn-success" href="admin-page.html">ADMIN</a>
            <a class="btn btn-danger" href="customer-page.html">CUSTOMER</a>         
        </div>
    </div>
  
</body>

</html>
